streamlit
pandas
numpy 
yfinance
os
streamlit_multi_menu 
plotly.graph_objects 
statsmodels.tsa.arima.model
sklearn.metrics
statsmodels.api 
tensorflow.keras.models
tensorflow.keras.layers
sklearn.preprocessing
matplotlib.pyplot
itertools
base64
