streamlit
pandas
numpy 
yfinance
streamlit_multi_menu 
plotly 
statsmodels
sklearn
statsmodels.api 
tensorflow.keras.models
tensorflow.keras.layers
sklearn.preprocessing
matplotlib.pyplot
itertools
base64
